.login-container {
  border-radius: 1%;
}

/* .slideShow {
  background-color: aqua;
}

.authSide {
  background-color: lightsalmon;
} */

/* app/login/styles.css */
.tab-active {
  border-color: #000;
  font-weight: bold;
}

.tab-inactive {
  border-color: transparent;
  color: #666;
}

